/* Import Stylesheets */
@import url("reset.css");

/* Local Fonts */
@font-face {
    font-family: "Roboto";
    src:
        local("Roboto"),
        url("../fonts/roboto.woff2") format("woff"),
        url("../fonts/roboto-300.woff2") format("woff"),
        url("../fonts/roboto-500.woff2") format("woff"),
        url("../fonts/roboto-600.woff2") format("woff"),
        url("../fonts/roboto-700.woff2") format("woff");

    font-family: "Roboto-Condensed";
    src:
        local("Roboto-Condensed"),
        url("../fonts/roboto-condensed.woff2") format("woff"),
        url("../fonts/roboto-condensed-300.woff2") format("woff"),
        url("../fonts/roboto-condensed-500.woff2") format("woff"),
        url("../fonts/roboto-condensed-600.woff2") format("woff"),
        url("../fonts/roboto-condensed-700.woff2") format("woff");
}

/* Root */
:root {
    /* Colors */
    --fw-color--900: #2e2e2e;
    --fw-color--500: #7e7e7e;

    /* Heading Size */
    --fw-heading--3: 3rem;
    --fw-heading--225: 2.25rem;
    --fw-heading--15: 1.5rem;
    --fw-heading--125: 1.25rem;
    --fw-heading--115: 1.15rem;
    --fw-heading--1: 1rem;
    --fw-heading--0925: 0.925rem;
    --fw-heading--0825: 0.825rem;
    --fw-heading--0725: 0.725rem;

    /* Spacing */
    --fw-space--3: 3rem;
}

/* General Styles */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.main__block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 550px;
    padding: 1rem 1.25rem;
}

.page__heading {
    border-bottom: 1px dashed #e0e0e0;
    margin-bottom: var(--fw-space--3);

    & h1 {
        font-family: "Roboto-Condensed";
        font-size: var(--fw-heading--15);
        font-weight: 500;
    }

    & h2 {
        font-size: var(--fw-heading--0925);
        font-weight: 400;
        color: var(--fw-color--500);
    }
}

/* Header */
header {
    padding: 5rem 0 1.5rem 0;
}

.logo__block {
    width: 25px;
    height: 25px;
    margin-bottom: var(--fw-space--3);

    & .logo {
        width: inherit;
        height: inherit;
    }
}

.nav__block {
    display: flex;
    gap: 0.25rem;
    margin-top: 3rem;
}

.menu__block {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;

    & li {
        font-size: var(--fw-heading--0925);
    }
}

/* Body Styles */
.site__tagline {
    margin-bottom: 1rem;
}

.page__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

/* Index Styles */
.index__tagline {
    margin-bottom: 1rem;
}

/* Blog Styling */
.blog__entry {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #e0e0e0;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }

    & .blog__title {
        font-family: "Roboto-Condensed";
        font-size: var(--fw-heading--115);
        font-weight: 500;
    }

    & .blog__date {
        font-size: var(--fw-heading--0825);
        color: var(--fw-color--500);
    }
}

.blog__heading {
    margin-bottom: 1.5rem;
    font-size: var(--fw-heading--115);
    font-weight: 500;
}

.blog__content {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px dashed #e0e0e0;
    padding-left: 0.5rem;
}

.blog__back {
    margin-bottom: 1rem;
    font-size: var(--fw-heading--0925);
}

/* Blog Single Styles */
.blog-posting__single {
    & .blog-posting__title {
        font-family: "Roboto-Condensed";
        font-size: var(--fw-heading--125);
        font-weight: 500;
    }

    & .blog-posting__content {
        margin-top: 0.5rem;
    }
}

/* Books Styling */
.books__heading {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
    font-family: "Roboto-Condensed";
    font-size: var(--fw-heading--125);
    font-weight: 500;
}

.books__current,
.books__next {
    margin-bottom: 3rem;
}

.books__heading {
    font-size: var(--fw-heading--0925);
}

.books__list {
    list-style: none;

    & li {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px dashed #e0e0e0;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
    }
}

.book__item {
    & .book__item--title {
        font-family: "Roboto-Condensed";
        font-size: var(--fw-heading--115);
        font-weight: 500;
        margin-bottom: 0.15rem;
    }
}

.book__author {
    list-style: none;

    & .book__author--details {
        font-size: var(--fw-heading--0825);
        color: var(--fw-color--500);

        & strong {
            color: var(--fw-color--900);
            font-weight: 500;
        }

        & a {
            font-weight: 500;
            color: var(--fw-color--900);
        }
    }
}

/* Footer Styles */
footer {
    margin-bottom: 1rem;

    & .footer__block {
        font-size: var(--fw-heading--0825);
    }
}
