<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ site_tagline }}">
        <title>{{ site_title }} : {{ site_tagline }}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static'), filename='img/favicon.png }}">
        {% endblock %}
    </head>

    <body class="main__block">
        <header>
            <div class="logo__block">
                <a
                    href="{{ url_for('index') }}"
                    alt="{{ site_title }}"
                    title="{{ site_title }}"
                >
                    <img
                        class="logo"
                        src="{{ url_for('static', filename='img/logo.svg') }}"
                        alt="{{ site_title }}"
                        title="{{ site_title }}"
                    />
                </a>
            </div>
        </header>

        <main id="content">{% block content %}{% endblock %}</main>

        <footer>
            <p class="footer__block">
                &copy; 2026 {{ site_title }} When in Doubt, Minimize.
            </p>
        </footer>
    </body>
</html>
