{% extends "base.html" %} {% block content %} {% include "_page_title.html" %}

<section class="page__content">
    <h3 class="blog__heading">Lastest Blog Postings</h3>
    <ul class="blog__postings">
        {% for post in posts %}
        <article class="blog__entry">
            <div class="blog-block__heading">
                <h4 class="blog__title">
                    <a href="{{ url_for('show_post', post_id=post.id) }}"
                        >{{ post.title }}</a
                    >
                </h4>
            </div>
            <time class="blog__date">{{ post.date }}</time>
        </article>
        {% endfor %}
    </ul>
    {% include "_main_nav.html" %}
</section>
{% endblock %}
