{% extends "base.html" %} {% block content %}

<section class="page__content">
    <p class="index__tagline">
        Making things <strong>Simple</strong>, Making things
        <strong>Useful</strong>, Making things <strong>Impactful</strong>.
    </p>
    <p>
        A data geek tinkerer who loves building things, a fan of minimalism, and
        someone who enjoys reading, the outdoors, brewing coffee, and watching
        movies.
    </p>
    {% include "_main_nav.html" %}
</section>
{% endblock %}
